/* Project doesn't call for mobile optimization specifically.
While that's usually a given in any markup,
I've excluded it from this project. */

html {
    display: flex;
    justify-content: center;    
}
body {
    margin: 60px; /*me*/
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FCFCFC;
}
.header {
    margin-bottom: 33px;
}
h1 {
    text-transform: uppercase;
    font-size: 19px; /*me*/
    font-weight: normal;
    letter-spacing: 1px;
    color: #4C4C4C;
}
input {
    outline: none;
    border: none;
    border: 2px solid #ccc;
    width: 200px;
    font-size: 1.5em;
    padding: 15px;
    text-align: center;
    margin: 0 auto 50px;
    transition: width 0.5s ease;
}
input:focus {
    background-color: skyblue;
    transition: width 0.5s ease;
    width: 400px;
}
.main-content {
    display: grid;
    grid-template-rows: repeat(4, 184px);
    grid-template-columns: 414px 414px 414px;
    grid-gap: 38px;
}
.employee {
    display: flex;
    border: 2px solid #DFDFDF;
    border-radius: 7px;
    background-color: #fff;
    padding: 0 26px;
    align-items: center;
    cursor: pointer;
}
.employee-img {
    width: 127px;
    min-width: 127px;
    height: 127px;
    border-radius: 50%;
}
.employee-info {
    margin-left: 23px;
}
.employee-info h2 {
    color: #404A51;
    line-height: 1;
    margin: 0;
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: capitalize;
}
.employee-info p {
    color: #94999D;
    margin: 10px 0 0 0;
}
.city,
.address {
    text-transform: capitalize;
} 
.employee-info .employee-img {
    width: 172px;
    min-width: 172px;
    height: 172px;
}

/* -------------------
--------MODALS--------
-------------------- */

.modal-content .name,
.modal-content .email,
.modal-content .city,
.modal-content .phone,
.modal-content .address,
.modal-content .birthday{
    margin-top: 15px;
    margin-bottom: 15px;
}

.line {
    width: 100%;
    height: 1px;
    background-color: #dfdfdf;
    margin-top: 15px;
    margin-bottom: 15px;
}

.modals {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
.modal-content {
    display: flex;
    box-sizing: border-box;
    border: 2px solid #DFDFDF;
    border-radius: 7px;
    background-color: #fefefe;
    flex-direction: column;
    margin: 100px auto 0; 
    padding: 40px;
    border: 1px solid #888;
    width: 457px; /*hard coded, not mobile friendly*/
    justify-content: center;
}

.modal-content .employee-info {
    margin-left: 0;
}

/*If SASS used this could be generated dynamically
to automatically reach the number of employees*/
#emp0, #emp1, #emp2, #emp3, #emp4, #emp5, #emp6, #emp7, #emp8, #emp9, #emp10, #emp11, #emp12 {
    display: none;
    text-align: center;
}

.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    width: 25px;
    margin-left: auto;
}

.close:hover,
.close:focus,
.next:hover,
.next:focus,
.previous:hover,
.previous:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.cycleThroughEmployees {
    color: #aaa;
    font-size: 50px;
}